<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target xsi:type="Console" name="logconsole" layout="${longdate} ${uppercase:${level}} | ${callsite} | ${message} ${newline} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" error="false" detectConsoleAvailable="true" />
    <target name="debugger" xsi:type="Debugger" layout="${longdate} ${uppercase:${level}} | ${logger} | PROCESSID ${processid} | THREADID ${threadid} | ${callsite} | ${message} ${newline} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="logconsole" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>
